body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
  }
  
  header, footer {
    background-color: #191970; 
    color: #FFD700;
    padding: 20px;
    text-align: center;
  }
  
  a {
    color: #FFD700; 
    text-decoration: none;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    background-color: #bed9f5; 
    border: 3px solid #191970; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin: 10px 0;
  }
  
  @media (min-width: 768px) {
    nav ul {
      display: flex;
      justify-content: center;
    }
    nav li {
      margin: 0 15px;
    }
  }
  
  .chapter {
    width: 90%;
    margin: 0 auto;
    background-color: #f5f2a9; 
    border: 3px solid #191970; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.odyssey-characters {
  width: 90%;
  margin: 0 auto;
  background-color: #bed9f5; 
  border: 3px solid #191970; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.character {
  width: 90%;
  margin: 0 auto;
  background-color: #f5f2a9; 
  border: 3px solid #191970; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.content {
  width: 90%;
  margin: 0 auto;
  background-color: #bed9f5; 
  border: 3px solid #191970;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.section {
  width: 90%;
  margin: 0 auto;
  background-color: #f5f2a9; 
  border: 3px solid #191970; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.item-card img {
  width: 300px;
  height: 200px;
  object-fit: contain; 
}

/*.item-card img {
  width: 300px;      
  height: 200px;     
  object-fit: cover;   
}
